<script type="text/javascript">
	function postLoad(){
		
	};

	function postConnect(){

	};
</script>

<h3 id="achat-credits">Est-il possible d'acheter ou de racheter des crédits à d'autres joueurs ?</h3>

<p>L'achat et le rachat de crédits est interdit sur notre site pour des raisons légales : la France interdit les jeux publics, donnant l'espérance d'un gain, faisant intervenir une part de hasard même minime et exigeant un sacrifice financier de la part du joueur.</p>

<p>Le concept de Buzzzoom était pourtant simple au départ : les joueurs peuvent participer à un concours gratuit pour gagner des lots et, en dehors de la durée du concours, ils auraient pu s'entrainer sur les jeux du concours selon le principe free-to-play : un nombre de parties gratuites par jour avec achat de parties supplémentaires possible.</p>

<p>Toute l'honnêteté du site aurait évidemment résider dans la bonne information du joueur avant qu'il participe à un concours : certains joueurs ont pu payer pour s'entrainer à ce jeu ! Mais les chances de gagner sont toujours là, comme lors d'un tournoi sportif ou un concours de bridge où vous savez pertinemment que vous affronterez des joueurs expérimentés.
<br>Si le joueur acceptait cette contrainte, il avait une chance de gagner le lot. Tout le monde y trouvait son compte : l'équipe de Buzzzoom pouvait vivre et faire vivre le site grâce à l'achat de parties et les joueurs avaient une chance <span class="bold">gratuite</span> de gagner un lot, comme dans n'importe quelle tombola.</p>

<p>Mais ce principe aurait été interdit et l'équipe de Buzzzoom lourdement sanctionnée car les jeux-concours auraient été publics et donnant l'espérance d'un gain. Reste donc le sacrifice financier ou le hasard qu'il fallait supprimer pour rentrer dans le cadre de la loi.</p>

<p>Certains joueurs auraient pu s'entrainer en payant et d'autres s'entrainer sans payer, simplement en attendant leurs parties gratuites quotidiennes ? Peu importe, les tribunaux considèrent que tous les joueurs doivent payer.</p>

<p>Tandis que le hasard ? <span class="bold">Nos jeux ne comportent pas de hasard</span> (code informatique à l'appui : <span class="bold">aucune</span> formule ou fonction de hasard n'est appelée). Mais les tribunaux ont déjà considérés qu'une part de hasard même minime pouvait faire rentrer dans le cadre de l'interdiction. Ils sont même allé jusqu'à considéré que le fait de devoir se retrouver face à des adversaires non connus auparavant est une part de hasard ! L'équipe de Buzzzoom ne voulait pas tenter le diable de ce côté ci.</p>

<p><span class="bold">Tout cela signifie que les tombolas, tournois et loteries sont interdites.</span> Les jeux d'adresses avec possibilités de payer pour s'entrainer ou réessayer sont également interdits. Ce qui aurait dû être l'essence même de Buzzzoom, où les joueurs auraient pu, <span class="bold">en toute connaissance de cause</span>, participer à nos concours avec possibilité de s'être entraîner auparavant pour avoir plus de chance de gagner, comme à un tournoi sportif est interdit.</p>

<p>L'Etat contrôle drastiquement cette interdiction depuis le 19ème siècle, depuis notamment la loi du 21 mai 1836. Ses deux entités, la Française des Jeux et l'ARJEL sont respectivement la seule entité qui peut créer des jeux de hasard et d'argent et la seule entité qui peut contrôler le respect des lois sur les jeux d'argent et donner une certification permettant à un opérateur d'ouvrir une salle de jeu, un site de poker en ligne ou de paris sportifs.</p>

<p>La vérité est que tout jeu d'argent est prohibé, sauf si l'état maintient son monopole et remporte toute la mise. Quelques exceptions ont été mises en place afin que la population ne grogne pas trop. Les jeux d'argent ne sont autorisés qu'en de rares exceptions : loteries pour associations, tournois à but non lucratif, jeu télévisé, etc. Pour ceux qui veulent en faire leur métier en toute honnêteté, ils doivent rentrer dans le cadre du Poker et des paris sportifs mais aussi demander une certification à l'ARJEL. Mais encore une fois, tout est fait pour que l'Etat soit le seul qui remporte la mise : dossier énorme et certifications techniques improbables, en plus de "cotisations" aux montants révoltants et ne s'adressant qu'aux très gros qui autrefois exerçaient depuis Malte et sont de toute manière suffisamment "proches" de l'Etat.</p>

<p>Si un jour vous souhaitez ouvrir un site de jeu à la manière du concept original de Buzzzoom, vous ne pouvez pas, vous, petit opérateur qui se lance. Seul les relations et l'argent que vous donnerez à l'Etat pour l'endormir compteront, même si vous souhaitez offrir un divertissement honnête à vos joueurs.</p>

<p>Cela vous révolte ? Nous aussi. C'est pourquoi nous vous proposons de signer <a href="https://www.change.org/p/anciens-joueurs-gold-fran%C3%A7ais-de-king-com-royalgames-retour-des-jeux-cash-en-france-sur-royalgames-com">une pétition qui sera remis à l'ARJEL</a>.</p>

<p>En conclusion, nous voulions supprimer le principe de sacrifice financier pour le joueur, le principe de hasard n'existant pas dans nos jeux mais étant difficilement compréhensible pour les juristes. <span class="bold">Les crédits sur buzzzoom.games ne sont donc pas achetables. Nous interdisons leur revente ou la revente de compte utilisateur pour cette même raison.</span></p>