		</section>
		
		<footer id="footer">
			©twothirds 2017 - <a href="#">Conditions d'utilisation</a> - <a href="mailto:contact@buzzzoom.games">Support</a>
		</footer>

		<script type="text/javascript">var userIp = "{{userIp}}";</script>
		<script type="text/javascript" src="{{serverUrl}}/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/js/cookie.js"></script>
		<script type="text/javascript" src="/js/css.js"></script>
		<script type="text/javascript" src="/js/general.js"></script>
	</body>
</html>