<!DOCTYPE html>
<html>
	<head>
		<title>buzzzoom.games - Concours gratuits et jeux en ligne</title>
		
		<link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
		<link href="{{serverUrl}}/css/style.css" rel="stylesheet">
		<link rel="icon" href="/img/favicon.ico" />
	</head>
	<body>
		<header id="header">
			<a href="/" class="home-link"><h1>buzzzoom.games<br/><small>Concours gratuits et jeux en ligne</small></h1><img class="logo-img" src="/img/bee-logo.png"/></a>
		</header>
		
		<aside id="menu">
			<nav>
				<a href="/accueil">Accueil</a>
				<a href="/concours">Concours</a>
				<a href="/jeux">Jeux</a>
				<a href="/forum">Forum</a>
				<a href="/profil" class="connexion profileName">Connexion/Inscription</a>
		  </nav>
		</aside>
		
		<section id="content" class="col100 col100w">