<script type="text/javascript">
	function postLoad(){
		
	};

	function postConnect(){

	};
</script>

<p>Le concours présent sur ce site est un jeu concours sans obligation d'achat. Les joueurs participant à ce concours tous les mêmes chances de gagner, le jeu sur lequel participer pour entrer dans le concours faisant appel à l'adresse, aux réflexes et à l'intelligence des joueurs.</p>

<p>La participation est limitée à une par foyer résidant en France métropolitaine. Pour ces raisons, la participation d'un joueur ne sera considérée active que s'il aura fournit son adresse postale à son compte utilisateur au moment du résultat du concours.</p>

<p>Les organisateurs du concours s'engagent à contacter par email les participants aux concours ayant gagner un lot en cas d'erreur dans l'adresse postale et de retour de colis. Les participants à ce concours s'engagent à répondre à cet email dans un délai d'une semaine pour régler ce problème d'adresse, sans quoi leur participation sera considérée comme inactive et ils perdront leur lot.</p>

<p>La liste des lots à gagner ainsi que la position dans le classement pour les obtenir est disponible dès la création du concours, au plus tard, une semaine avant le début du concours.</p>

<p>Les organisateurs du concours s'engagent à envoyer les lots gagnés par colis ou lettres dans un délai de deux mois maximum, justificatifs de La Poste faisant foi.</p>

<p>En cas de participation inactive lors d'erreur dans l'adresse postale et manque de retours du joueur concernant cette adresse, ou lors de l'inscription du joueur tout en ne remplissant pas les règles pour participer à ce concours, les lots normalement gagnés par ce joueur inactif seront envoyés à son successeur direct dans le classement des joueurs.</p>